<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">We provide modified methods of training to restore
        <br />hope to all those with physical impairment.</div>
      <!-- <div class="intro-heading">It's Nice To Meet You</div> -->
      <br />
      <br />
      <a href="/support" class="page-scroll btn btn-xl">Support ATF</a>
    </div>
  </div>
</header>

<section class="portfolio bg-light-gray">
  <div class="container">
    <div class="row">

      <div class="col-md-4 col-sm-6 portfolio-item">
        <iframe width="360" height="250" src="https://www.youtube.com/embed/bhXWGY3v2lQ" frameborder="0" allowfullscreen></iframe>
        <div class="portfolio-caption">
          <h4>Jake Schick</h4>
          <p class="text-muted">Marines to the Mountains</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 portfolio-item">
        <object id="flashObj" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,47,0"><param name="movie" value="http://c.brightcove.com/services/viewer/federated_f9?isVid=1&amp;isUI=1"><param name="bgcolor" value="#FFFFFF"><param name="flashVars" value="videoId=4239092147001&amp;playerID=3657417262001&amp;playerKey=AQ~~,AAADUxzzImk~,ZRG9vr9In2CmLypfGW8tCAvJzWo_aD3c&amp;domain=embed&amp;dynamicStreaming=true"><param name="base" value="http://admin.brightcove.com"><param name="seamlesstabbing" value="false"><param name="allowFullScreen" value="true"><param name="swLiveConnect" value="true"><param name="allowScriptAccess" value="always"><embed src="http://c.brightcove.com/services/viewer/federated_f9?isVid=1&amp;isUI=1" bgcolor="#FFFFFF" flashvars="videoId=4239092147001&amp;playerID=3657417262001&amp;playerKey=AQ~~,AAADUxzzImk~,ZRG9vr9In2CmLypfGW8tCAvJzWo_aD3c&amp;domain=embed&amp;dynamicStreaming=true" base="http://admin.brightcove.com" name="flashObj" seamlesstabbing="false" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" swliveconnect="true" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" height="250" width="360"></object>
        <div class="portfolio-caption">
          <h4>Tour ATF</h4>
          <p class="text-muted">with GMT's Paige McCoy Smith</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 portfolio-item">
        <iframe width="360" height="250" src="https://www.youtube.com/embed/gpTsxYtuqLk" frameborder="0" allowfullscreen></iframe>
        <div class="portfolio-caption">
          <h4>ATF Class II</h4>
          <p class="text-muted">Week One Recap</p>
        </div>
      </div>

    </div>
  </div>
</section>

<aside class="clients alt-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <br />
        <h2 class="section-heading">Interested in checking out the ATF facility?</h2>
        <h3 class="section-subheading text-muted">Join our program to see what we are all about.</h3>
        <br />
        <br />
      </div>
    </div><!-- /row -->
  </div>
</aside>

<section class="portfolio bg-light-gray">
  <div class="container">
    <div class="row">

      <div class="col-md-4 col-sm-6 portfolio-item">
        <img src="images/home/restore.jpg" class="img-responsive" alt="">
        <div class="portfolio-caption">
          <h4>Restore</h4>
          <p class="text-muted">empowering through training</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 portfolio-item">
        <img src="images/home/recalibrate.jpg" class="img-responsive" alt="">
        <div class="portfolio-caption">
          <h4>Recalibrate</h4>
          <p class="text-muted">reaching performance goals</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 portfolio-item">
        <img src="images/home/redeploy.jpg" class="img-responsive" alt="">
        <div class="portfolio-caption">
          <h4>Redeploy</h4>
          <p class="text-muted">opportunity for competition</p>
        </div>
      </div>

    </div>
  </div>
</section>
