<!-- Jim Francis -->
<div class="portfolio-modal modal fade" id="board_jim-francis" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <h2>Jim Francis</h2>
            <img src="/images/team/board/jim_francis.jpg" alt="Jim Francis" class="img-responsive img-centered" />
            <div class="text-justify">
              <p> 1993 graduate of highland park<br />
              1998 BA Centenary College</p>
              <p>1999 founder and president gentry Francis energy<br />
              2002 founder and president Francis restaurant company</p>
              <p>Former Trinity Commons foundation board member<br />
              Former regional director parks and wildlife foundation of Texas<br />
              Chair of YPO Trophy Forum<br />
              St. michaels and all Angels stewardship committee</p>
              <p><strong>Memberships include</strong>,<br />
              Idewild, terpsichorean, calyx, Kappa Alpha Order, Dallas country club and little sandy.  </p>
            </div>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Go Back </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
