<!-- David Vobora -->
<div class="portfolio-modal modal fade" id="dave-vobora" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>David Vobora</h2>
            <p class="item-intro text-muted">Trainer</p>
            <img src="/images/team/staff/dave_vobora.jpg" alt="David Vobora" class="img-responsive img-centered" />
            <div class="text-justify">
              <p>Retired NFL Linebacker, David Vobora,specializes in human performance training. Owner of Performance Vault and founder of the Adaptive Training Foundation, David works with athletes of all types &#8211; professional, Olympic, collegiate, tactical forces and adaptive athletes.<br />
              Vobora has learned that elite training and adaptive training coincide really well as they build a community together and galvanize unity.</p>
              <p>Through his work with Travis Mill’s, retired United States Army Staff Sergeant and quadruple amputee, David found a passion to offer adaptive performance training to individuals who have suffered life-altering injuries.  He recognized a void in the process.  A person gets injured, they are treated at the hospital, go through rehabilitation, but where do they go to continue their recovery while defining the recalibrated-self?   ATF fills the void.</p>
              <p>David’s personal and professional experience marked by both adversity and achievement combined with his Psychology degree equips him with the ability to reach any client and understand how to inspire and motivate them.  David believes that training is a direct metaphor for the spiritual journey of life – one is never at any destination but always seeking to find a higher version of oneself.  Vobora is known for taking his athlete to a vulnerable place first and gaining their trust and building a partnership.  It is only once that bond is formed can breakthroughs happen.  He loves to challenge his athletes to dream big and help them to realize that they can attain those goals.</p>
              <p>As a starting linebacker in the NFL, David Vobora has had the opportunity to train in some of the nation’s most elite training facilities.  David has customized the equipment in his gym allowing him to modify exercises for all of his athletes.Vobora believes in minimizing risks and maximizing results always keeping in mind the diminishing effects of traditional resistance training.David fuses that which would normally be categorized as rehab or correctional exercises into his training program to formulate a comprehensive program to reach each athlete in the most efficient and effective way.  </p>
              <p>David Vobora passionately believes in the mission of ATF – to restore hope through movement to those with physical impairment by creating opportunities for adaptive athletes to train and compete.  Vobora radiates a relentless spirit and indomitable optimism in all he endeavors.  His immense work ethic and enthusiasm for life are contagious and every athlete who enters his gym responds to that energy.  David is married to Sarah Vobora and they have one daughter and are expecting their second daughter in late Spring.</p>
            </div>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Go Back </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
