<!-- Jacob Schick -->
<div class="portfolio-modal modal fade" id="board_jacob-schick" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <h2>Jacob Schick</h2>
            <img src="/images/team/board/jacob_schick.jpg" alt="Jacob Schick" class="img-responsive img-centered" />
            <div class="text-justify">
              <p>Jacob Schick, Warrior Relations Specialist with the Brain Performance Institute’s Warrior Training Team, is a third generation Marine who epitomizes service and sacrifice.</p>
              <p>After a triple-stacked tank mine detonated below his vehicle in Al Anbar Province, Iraq in 2004, Jake suffered compound fractures in his left leg and left arm; multiple skin, ligament and bone losses; varying burns; partial loss of his left hand and arm; amputation below the knee of his right leg, traumatic brain injury (TBI) and post traumatic stress disorder (PTSD).</p>
              <p>Jake has undergone 46 operations, 23 blood transfusions, and countless hours of rehabilitation. Jake will tell you his physical injuries weren’t the worst that happened to him. For years he dreaded his TBI and PTSD diagnosis; a common mindset among warriors. After being encouraged by a fellow warrior to train his brain the way he re-trained his body, Jake skeptically participated in the Brain Performance Institute’s high performance brain training, called SMART. He credits this opportunity with making him a better husband, father and man.</p>
              <p>Since participating in the SMART program, Jake has become a staunch advocate for maximizing the cognitive potential in people from all walks of life and shares his story and the effects of being severely wounded at public speaking engagements throughout the country.</p>
              <p>A passionate and fearless leader whose quick wit and stories of intestinal fortitude have a profound impact on everyone he meets, Jake has appeared on James Gandolfini’s HBO special “Alive Day Memories: Home from Iraq,” as well as “60 Minute Sports” and various other local and national venues.  Jake will also play a small role in the upcoming Clint Eastwood production of “American Sniper.” You can read Jake’s Open Letter To Warriors and his eloquent wisdom on resilience in Psychology Today.</p>
              <p>Jake’s passion lies in helping his fellow warriors regain their drive and determination and enhance their cognitive performance in his role as a Warrior Training Specialist at the Center for Brain Health and Brain Performance Institute. </p>
            </div>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Go Back </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
