<!-- John Roach -->
<div class="portfolio-modal modal fade" id="board_john-roach" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Judge John Roach, Jr.</h2>
            <img src="/images/team/board/john_roach.jpg" alt="John Roach" class="img-responsive img-centered" />
            <div class="text-justify">
              <h3><strong>ELECTED  OFFICIAL</strong></h3>
              <p><strong><em>State District Judge, 296th  District Court, Collin   County</em></strong><br />
              Elected in March 2006 and took office January 2007. The Court is a  general jurisdiction Court specializing in the areas of civil and family law.  Judge of the Collin County Veterans&rsquo; Court.  Serves as the Collin County District Courts Local Administrative Judge.  Implemented Video Jail Pleas, Court Teleconferencing, Managed Counsel Mental  Health Program, Criminal Defense Teleconferencing and other programs to improve  court efficiencies. </p>
              <p><strong><em>Former  City Council Member, City of Plano,   Texas</em></strong><br />
              Member  of the City Council for a Texas  home-rule city with a population of 231,000.   Elected at large.  Council Liaison  to the Collin County Central Appraisal District, Sister City Committee, Joint  Council/School Board Committee and North Texas Municipal Water District.</p>
              <h3><strong>EMPLOYMENT</strong></h3>
              <p><strong><em>Instructor,  Southern Methodist University, Plano,   Texas</em></strong><br />
              Instructs  graduate-level students in various areas of alternative dispute resolution  processes including Arbitration, mediation, med/arb, summary jury trials and  in-house dispute resolution programs. Subject areas include commercial  litigation, business law, family law, torts and employment law.<strong> </strong></p>
              <p><strong><em>Former Partner,  Albin Harrison Roach, Attorneys at Law, Plano,   Texas</em></strong><br />
              Maintained offices in Plano,  Frisco, Dallas and Austin. Represented individuals, families and  business in General Civil Law including Medical  Malpractice Insurance Defense, Municipal Law, Business and Corporate Law,  Family Law, Land Use and Zoning, Wills, and Commercial and Business  Litigation.  Also frequently retained as  Local Counsel for parties in cases within the North Texas  area.</p>
              <p><strong><em>Former  Partner, Roach LLP, Attorneys at Law, Plano,   Texas</em></strong><br />
              Roach  LLP specialized in General Civil Law including Medical Malpractice Insurance  Defense, Municipal Law, Business and Corporate Law, Family Law, Land Use and  Zoning, Wills, and Commercial and Business Litigation.  Roach LLP is also frequently retained as  Local Counsel for parties in cases within the North Texas  area.  Finally, Mr. Roach is often  retained by lawyers to mediate civil and family law cases and has been  appointed as court annexed mediator by county and district courts in Collin County  having more than 270 hours of mediation training.</p>
              <p><strong><em>Former </em></strong><strong><em>Senior  Vice President/General Counsel, Legacy Services, L.L.C., Plano Texas</em></strong><br />
              Conducted  the day-to-day business operations and maintained complete corporate legal  counsel responsibilities for two divisions of a computer consulting/software  business. Included implementing corporate strategies for growth, personnel  administration, logistical determination of the appropriate resources  throughout the country, budgeting, marketing strategies, business development,  and creation of legal business entities and contracts.</p>
              <p><strong><em>Former  Attorney at Law, Cowles and Thompson, P.C., Dallas and McKinney, Texas</em></strong><br />
              Specialized  in insurance defense litigation primarily in the area of medical malpractice,  products liability and automobile liability.&nbsp; Maintained a lead counsel  caseload of approximately 40 cases.&nbsp; Tried numerous jury trials to verdict  in justice of the peace, county and state district courts in Kaufman, Denton, Dallas and Collin Counties.</p>
              <p><strong><em>&nbsp;</em></strong><strong><em>Former  Director of Constituent Services, State Senator Florence  Shapiro, Austin, Texas</em></strong><br />
              Responsible  for maintaining open communications between district constituents and State  Senator&#8217;s office in Austin.&nbsp;  Daily contact with district constituents regarding opinions and concerns on the  local and state levels.&nbsp; Assisted in developing correspondence and proposed  legislation addressing concerns of constituents.&nbsp; Liaison between  constituents and state agencies on behalf of the Senator.</p>
              <p><strong><em>Former  Communications Technician, Richardson Police Department, Richardson, Texas</em></strong><br />
              State  Certified 9-1-1 operator and dispatcher for the City of Richardson.&nbsp;&nbsp; Responsible for 9-1-1 call taking and dispatching police units in response  to various calls for service.&nbsp; Received several departmental commendations  for service.</p>
              <h3>MILITARY  SERVICE </h3>
              <p><strong><em>United  States Marine Corps Reserves, Crash, Fire and Rescue Specialist</em></strong></p>
              <ul>
                <li> Honorably Discharged</li>
                <li> Placed on Active Duty in support of Operation Desert Shield/Storm</li>
                <li> Received National Defense Medal, Marine Corps Service Medal</li>
              </ul>
              <h3>EDUCATION </h3>
              <p><strong><em>St.  Mary&#8217;s University School of Law, San    Antonio, Texas</em></strong></p>
              <ul>
                <li><strong><em> </em></strong>Doctor  of Jurisprudence
                  <ul>
                    <li> Associate Editor, <em>St. Mary&#8217;s Law Journal</em></li>
                    <li> Faculty Teaching Assistant in Research and Writing, Criminal Law and Civil  Procedure</li>
                  </ul>
                </li>
              </ul>
              <p><strong><em>University  of Texas at Austin, Austin, Texas</em></strong></p>
              <ul>
                <li><strong><em> </em></strong>Bachelor  of Arts in Government
                  <ul>
                    <li> Minor, Speech Communications</li>
                    <li> Phi Eta Sigma Honor Society</li>
                    <li> Delta Sigma Phi Fraternity</li>
                  </ul>
                </li>
              </ul>
              <p><strong><em>Forrester  International Institute, San Jose, Costa Rica</em></strong></p>
              <ul>
                <li> Extensive study of Spanish language and Latin American culture</li>
              </ul>
              <h3>PROFESSIONAL  ASSOCIATIONS </h3>
              <ul>
                <li> State  Bar of Texas</li>
                <li> Collin County  Young Lawyers Association
                  <ul>
                    <li> Founding Member </li>
                    <li> Past Board  of Directors</li>
                  </ul>
                </li>
                <li> Dallas Bar Association</li>
                <li>    Dallas  Young Lawyers Association</li>
                <li>    Collin  County Bar Association</li>
              </ul>
              <h3><strong>&nbsp;</strong>PROFESSIONAL ARTICLES<br />
              </h3>
              <ul>
                <li><em>Bad  Faith Litigation:&nbsp; Texas Style</em>  <br />
                  &#8211;  Presented at Superior Insurance, Atlanta, Georgia</li>
                <li><em>Products  Liability, Premises Liability and Negligence Law </em>in Texas<br />
                  &#8211;  Presented at Crum &amp; Forrester Insurance, Plano, Texas</li>
                <li><em>Filtering the  Internet</em> <em>in our Public Library: One   City&#8217;s Perspective</em><br />
                  &#8211; Presented at Local Government  Seminar, Austin, Texas</li>
              </ul>
              <h3><strong>&nbsp;</strong>COMMUNITY SERVICE/INVOLVEMENT<br />
              </h3>
              <ul>
                <li>  1998  Collin County  Bond Committee/Facilities Subcommittee</li>
                <li>    Board  of Directors, Rape Crisis Center of Collin County
                  <ul>
                    <li> President,  Board of Directors 1999-Present </li>
                    <li> Member, Board of Directors 1998-1999</li>
                  </ul>
                </li>
                <li> Collin County Community College  District Committee of 100</li>
                <li> Junior Achievement Consultant, Teach Leadership Class at Plano East Senior High</li>
                <li>    Leadership  Plano, Class XVI</li>
                <li> Member,  Plano Chamber of Commerce</li>
                <li> Participant,  Dallas County Volunteer Lawyers Program</li>
                <li> Resident  of Plano since 1973</li>
                <li> Former Board of Directors, Plano Youth  Leadership</li>
                <li> Former Advisory Committee, Junior  League of Plano</li>
                <li> Former Board of Directors, Practical  Parent Education</li>
                <li> Former Member, Business Development  Advisory Board for American National Bank</li>
                <li> Past Chairman, City of Plano Memorial  Day Committee</li>
              </ul>
            </div>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Go Back </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
