<!-- Sarah Vobora -->
<div class="portfolio-modal modal fade" id="board_sarah-vobora" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <h2>Sarah Vobora</h2>
            <img src="/images/team/board/sarah_vobora.jpg" alt="Sarah Vobora" class="img-responsive img-centered" />
            <div class="text-justify">
              <p>Sarah Vobora was born and raised in   Lebanon, Ohio.  She attended Miami University in Ohio, as a member of ALPHA CHI OMEGA she   graduated with a degree in Public Relations.</p>
              <p>Upon   graduating college she started a computer software company. After   growing her business from 5 employees to 150 she sold her company to Intuit in 2008. </p>
              <p>  Sarah loves caring for   people and also loves sales. As the next chapter of life unfolded, she decided to get into medical device   sales.</p>
              <p>  Sarah has been doing medical device sales since 2009,   educating doctors on how to use devices in the operating room. She has   experience in neuro, spine, heart, and orthopedics working for Biomet,   Dynasplint, and Vein Clinics America.  </p>
              <p>Sarah   had been involved with Big Brothers Big Sister and her personal   favorite is to volunteer for the Rock Babies program at various   hospitals.</p>
              <p>    Married to Adaptive Training Foundation creator David   Vobora, they have a beautiful 2 year old daughter with another baby on   the way! Their family resides in Dallas, TX where they own Performance   Vault. A for-profit elite training center for athletes.</p>
              <p>  Sarah&#8217;s   family has a history of service. One Uncle was in the Navy, another a   Marine, as well as a grandfather who served in the Army.</p>
              <p>Sarah&#8217;s strong faith in God and the belief in serving people aligns well with the mission of ATF</p>
            </div><!-- end of .post-entry -->
          </div>
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Go Back </button>
        </div>
      </div>
    </div>
  </div>
</div>
