<!-- Madi Jacob -->
<div class="portfolio-modal modal fade" id="executive_madi-jacob" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <h2>Madi Jacob</h2>
            <p class="item-intro text-muted">Director of Operations</p>
            <img src="/images/team/executives/madi_jacob.jpg" alt="Madi Jacob" class="img-responsive img-centered" />
            <div class="text-justify">
              <p>Madi Jacob found her passion for serving others at an early age.  Born and raised in south Louisiana, she was  raised in small community eager to help one another, and attended summer camp  throughout her childhood with her mother, who was staff nurse at the Louisiana  Lions Camp for Crippled Children. There she spent many summers learning what it  takes to care for children with varying physical and mental disabilities and in  her teenage and collegiate years chose to continue her service to this  wonderful cause. Through this experience she was inspired to pursue a Bachelor&rsquo;s  Degree in the field of Health and Exercise Science at Northwestern State  University while being involved in various campus ministries and organizations.  After graduation from NSU she earned her state and national certification in  Athletic Training and has spent the past 15 years working in this field.  Madi also earned a Master&rsquo;s Degree in  Biblical Studies from Dallas Theological Seminary. She has been married to Andy  Jacob for over 11 years and they have two beautiful children.</p>
              <p>Over the  course of her life, Madi has worked with many non-profits including Special  Olympics, Camp Barnabas and Joni Eareckson Tada&rsquo;s ministry – Joni and  Friends.  She helped launch Just Say  YES!- a non-profit geared toward helping teens succeed by educating them through  speakers and curriculum.  Madi has worked  at The Covenant School in Dallas for the past eight years.  Her time at Covenant further exposed her to  opportunities with the Advancement and Development departments  helping raise funds for student financial assistance through grant writing and  event planning.  Most recently Madi has  served as the Athletics Coordinator at The Covenant School and played an  integral part in handling game schedules, personnel decisions, website design,  financial development and accounting for the department.</p>
              <p>As Director of Operations, Madi feels at home working with Adaptive Training Foundation.&nbsp;  Her wide range of experience makes her uniquely suited to lead the foundation  with a passion and drive towards helping adaptive athletes realize and attain their  full potential.</p>
            </div><!-- end of .post-entry -->
          </div>
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Go Back </button>
        </div>
      </div>
    </div>
  </div>
</div>
