<template name="execDavidVobora">
<!-- David Vobora -->
<div class="portfolio-modal modal fade" id="executive_david-vobora" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>David Vobora</h2>
            <p class="item-intro text-muted">Founder / CEO</p>
            <img src="/images/team/executives/david_vobora.jpg" alt="David Vobora" class="img-responsive img-centered" />
            <div class="text-justify">
              <p>David Vobora is a 5 year veteran of the NFL.  He was &ldquo;Mr. Irrelevant&rdquo; (the last pick) in  the 2008 NFL Draft.  Rather than being  discouraged, he relished the opportunity to prove doubters wrong – just as he  had as an Idaho Vandal standout football player for 4 years.  Vobora radiates a relentless spirit and  indomitable optimism.  He has an immense  work ethic and strategic insights into personal and professional performance  refined by both adversity and achievement.</p>
              <p>Upon retiring from the NFL David opened Performance Vault,a for-profit gym that offers  individual and customized performance training to elite athletes. David met Travis  Mills in January of 2014.  Travis Mills  is a retired United States Army Staff Sergeant and quadruple amputee.  The two began working out together and the  unique challenges that Travis&rsquo; injuries posed in the gym ignited a passion for  David to offer adaptive performance training to individuals who have suffered  life-altering injuries.  </p>
              <p>Through  David&rsquo;s exposure to Travis and many other critically injured veterans, he  recognized a void in the process.  A  person gets injured, they are treated at the hospital, go through  rehabilitation, but where do they go to continue their recovery while defining  the recalibrated-self? </p>
              <p>ATF  fills this void.  Adaptive Training  Foundation was established to restore hope through movement to those with  physical impairment by creating opportunities for adaptive athletes to train  and compete.  ATF is not rehab.  ATF is designed to provide quality, individual  and customized training that will help each athlete create a sustainable  lifestyle change. </p>
              <p>David  never allowed payment for training from the adaptive athletes he served over  the next six months. In September 2014, the Adaptive Training Foundation became  501(c)3 tax exempt to allow outside support for these ambitious  participants.  The program now offers a  9-week intensive training to restore, recalibrate and redeploy these athletes  to inspire others to achieve the impossible.  </p>
            </div>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Go Back </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>
