<!-- Madi Jacob -->
<div class="portfolio-modal modal fade" id="madi-jacob_t" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Madi Jacob</h2>
            <p class="item-intro text-muted">Athletic Trainer</p>
            <img src="/images/team/staff/madi_jacob.jpg" alt="Madi Jacob" class="img-responsive img-centered" />
            <div class="text-justify">
              <p>Madi Jacob joins the ATF team of trainers with a great passion to serve and brings a wide range of experience and knowledge to the program.  Madi is a state and nationally certified Athletic Trainer and has spent the last 15 years working in this field.  She received her Bachelor’s degree in Health and Exercise Science from Northwestern State University and a Master’s degree in Biblical Studies from Dallas Theological Seminary.  She has worked for schools, hospitals, and clinics in both TX and LA and has extensive knowledge and experience in biomechanics and strength training.</p>
              <p>From a very young age Madi and her family spent their summers serving at a camp for children with disabilities.  She has years of experience working with varying physical and mental disabilities and considers this a passion in her life to serve this demographic.  More recently Madi has worked as an Athletic Trainer at a local high school and has gained countless hours of experience working with these athletes.  She has developed off-season strength and conditioning programs, rehab programs for injuries, as well as many hours of sports psychology sessions.  Although Madi is fascinated by the human body and enjoys working with athletes to recover from injury, it is connecting with their heart and seeing a positive change from within that motivates her to continue her work.  Madi is often found in the gym adding humor to the environment while challenging the athletes to push a little harder because she knows that the human will inside is much stronger than we sometimes allow ourselves to believe.</p>
              <h3>What excites you about the mission of ATF?</h3>
              <p>“I LOVE the prospect of hope . . . Our mission is restore hope through movement to those with physical impairment.  There are so many people who lose hope after they are injured.  They feel like they cannot dream anymore or that their dreams will never become reality.  At ATF, we challenge our adaptive athletes to dream big and then we make a way for them to achieve their dreams.  It’s a beautiful thing to watch them live out their dreams and to help restore hope in their life!”</p>
              <h3>What is the most challenging aspect for you as a trainer at the ATF gym?</h3>
              <p>“Even though the athletes in our gym have sustained significant injuries and many are missing limbs and/or have spinal cord injuries, each one has the ability to make huge strength gains in the gym. The most challenging thing for me is the part I enjoy the most &#8211; <em>how do I modify each activity to fit the specific adaptive need of each athlete?</em>  Every day is a new challenge and no two athletes are the same – they each have individual adaptive needs.  These challenges force me to really understand how the body works while being creative and think outside the box on how to get accomplish the goals that are set.”</p>
            </div>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Go Back </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
