<footer>
<div class="container">
  <div class="row">

    <div class="col-md-4">
      <span class="copyright">Copyright &copy; Adaptive Training Foundation 2016</span>
    </div><!-- copyright -->

    <div class="col-md-4">
      <ul class="list-inline quicklinks">
        <!-- <li>
          <a href="#">Privacy Policy</a>
        </li>
        <li>
          <a href="#">Terms of Use</a>
        </li> -->
      </ul>
    </div><!-- privacy -->

    <div class="col-md-4">
      <ul class="list-inline social-buttons">
        <li>
          <a href="https://twitter.com/VaultTraining">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/pages/Adaptive-Training-Foundation/831321686907458?sk=timeline">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-youtube">
            </i>
          </a>
        </li>
      </ul>
    </div><!-- social -->

  </div>
</div>
</footer>
