<!-- Support ATF -->

<section id="methods">

  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">There are many ways to support ATF</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div><!-- /row -->

    <div class="row">

      <div class="col-lg-12">

        <ul class="timeline">

          <li>
            <a href="">
              <div class="timeline-image">
                <img src="/images/support/green.jpg" alt="" class="img-circle img-responsive" />
              </div>
            </a>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Donate</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                These Great Shirts are a token Gift for all DONORS who contribute $25 or more to Supporting ATF.
                <br/>
                Your tax exempt donations allow us to continue to provide hope through movement to those with physical impairment.
                </p>
              </div>
            </div>
          </li>

          <li class="timeline-inverted">
            <a href="pledge">
            <div class="timeline-image">
              <img src="/images/support/pledge_sq.png" alt="" class="img-circle img-responsive" />
            </div>
            </a>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Make the Empowerment Pledge</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">One way you can show your support for Adaptive Training Foundation is by pledging $22/month.<br/>
                Your contribution will help us to provide adaptive athletes the opportunity to receive customized training to restore hope through movement.
                </p>
              </div>
            </div>
          </li>

          <li>
            <a href="">
            <div class="timeline-image">
              <img src="/img/about/2.jpg" alt="" class="img-circle img-responsive" />
            </div>
            </a>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Volunteer</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
              </div>
            </div>
          </li>

          <li class="timeline-inverted">
            <a href="">
            <div class="timeline-image">
              <img src="/img/about/3.jpg" alt="" class="img-circle img-responsive" />
            </div>
            </a>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Hire a Hero</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
              </div>
            </div>
          </li>

          <li class="timeline-image">
            <a href="">
            <div class="timeline-image">
              <img src="/img/about/4.jpg" alt="" class="img-circle img-responsive" />
            </div>
            </a>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Become an Intern</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
              </div>
            </div>
          </li>

          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Be Part
                <br>Of Our
                <br>Story!</h4>
            </div>
          </li>

        </ul><!-- end ul -->

      </div><!-- end .col -->

    </div><!-- end .row -->

  </div><!-- end .container -->

</section><!-- end Support -->
